a {
  text-decoration: none;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

html {
  font-size: 62.5%;
  color: $text-main;
}

body {
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

* {
  cursor: url('/src/assets/icons/cursor.svg') 10 7, auto;
}

a, button, [role="button"] {
  cursor: url('/src/assets/icons/handpointing.svg') 10 7, pointer;

  * {
    cursor: inherit;
  }
}

:where(p, h1, h2, h3, h4, h5, h6, span, time, strong, em, li, blockquote, label, input[type="text"], textarea) {
  cursor: url('/src/assets/icons/textcursor.svg') 10 10, text;
}
